@{
    ViewBag.Title = "Find Jobs in Myanmar, Apply for Myanmar Jobs with myanmarCV.com Myanmar";
    ViewBag.Description = "Search thousands of Jobs in Myanmar at myanmarcv.com. Find new employment in Myanmar and Asia. Employers, advertise jobs and find resumes,CV here.";
    ViewBag.Keywords = "jobs in Myanmar, Myanmar jobs, Myanmar, job,  IT jobs, HR jobs, finance jobs, sales jobs, marketing jobs, engineering jobs, customer service jobs, accounting jobs, management jobs, legal jobs, business development, career resource,  career, create resume, education career, employer, employment, employment opportunity, employment asia,  find job, free job posting,  IT recruitment, human resource, internet recruitment, jobstreet, job, job interview, job listing, job site, job vacancy, job opening, job placement, job opportunity, job seeker, job tips,  job alert,  job online, job search,online job search, online recruitment,  post advertisement, recruitment, recruitment agency, resume, resume service";
    
 }

 
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
        type="text/javascript">
</script>
 <script type="text/javascript">
     window.location = "../account/signup";
 </script>
 

<h2>@ViewBag.Message</h2>
<p>
   <a name="fb_share" type="icon_link" 
   share_url="http://www.myanmarcv.com">Compartir en Facebook</a> 
</p>
