@model MyanmarCV.Models.forgetPassword
@{
    ViewBag.Title = "forgetPassword";
    Layout = "~/Views/Shared/_Empty.cshtml";
}
<div class="body_first">

		<div class="body_con">

        		<div class="body_left">

                	<div><h3><font color="#811d1d">MyanmarCV.com</font> helps you to be the first to job market</h3></div>

                    <div id="slideshow">
			<img src="../../images/photo1.jpg" alt="" />
			<img src="../../images/photo2.jpg" alt="" />
		</div>


                </div>

                <div class="body_right">

                	<div style="padding-top:35px"><h3 style="padding:0; margin:0">Forget Password?</h3></div>

                    <div style="padding:10px 0px 10px 0px"><img src="../../images/hr.jpg" /></div>
                    @using (Html.BeginForm())
                    {
                 <table width="350px" border="0" cellspacing="0" cellpadding="0" class="signup_table">
                    <tr>
                         <td height="50px" align="left" colspan ="2">Please fill up your email address for password recovery.</td>
                   </tr>
                  <tr>

                   <td height="35px" align="left" width="80px">Email : </td>

                    <td> @Html.TextBoxFor(m => m.email, new { @class = "signup_textbox" })
				<br><div style="color:Red;font-size:12px;font-family:arial"> @Html.ValidationMessageFor(m => m.email) </div>
			</td>
                    
                  </tr>
                
                  <tr>
                        <td height="50px" align="left" colspan="3">
                            @Html.Partial("_Captcha", new Uco.Models.Captcha())    <br>                   
                             @Html.Partial("_InvisibleCaptcha", new Uco.Models.InvisibleCaptcha())</td>
                        
                  </tr>
       			 <tr>

                    <td></td>

                    <td height="35px"> <input type="submit" value="Submit" style="background:url('../images/btn.jpg') no-repeat;
width:116px;margin-left:50px;
height:34px;
border:0;
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
color:#ffffff;
font-weight:bold;
cursor:pointer;
outline:none;
" /></td>

                  </tr>
            <tr>
                <td colspan="2" style="color:Red; text-align:center;">
             
                </td>
            </tr>


                </table>
                    }
                </div>

        </div>

</div>

<div class="copyright">Copyright © 2012 MyanmarCV Pte Ltd. All rights reserved</div>
