@{
    ViewBag.Title = "ourlocation";
    
    Layout = "~/Views/Shared/_Main.cshtml";
}
<body id="location_link">
<div style="width:900px;">
            	<div class="contact_left">
                	<div style="font-weight:bold"><font color="#870414">Our Details</font><br></div>
                  Telephone: <font color="#000000">+95 9 42108 5255</font><br />
               Email:	<font color="#000000">myanmarcv.com@gmail.com</font><br />
					Address:<br />
                     <font color="#000000">(#07-705),(7+1D),Parami Condo<br />
                    Yangon, Myanmar, 11051<br></font>
					
               Office hours are normally:<br />

					Mon to Fri<br />
  				  9.00am to 5.00pm<br />
				
                  </div>
                <div class="contact_right">
                	<div style="font-weight:bold"><font color="#870414">Location Map</font><br></div>
                  
                    	 <iframe width="500" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.sg/maps?f=d&amp;source=s_d&amp;saddr=Okkyin,+Yangon,+Yangon+Region,+Burma&amp;daddr=7%2B1+D+Parami+Condo++%4016.856719,96.122292&amp;hl=en&amp;geocode=FVMwAQEdpLu6BSkhv8417pTBMDGUn01hFRb_KQ%3BFY82AQEdtLW6BQ&amp;aq=0&amp;oq=Okkyin+bus+stop,+Y&amp;sll=16.856035,96.123025&amp;sspn=0.002675,0.005284&amp;dirflg=w&amp;mra=ltm&amp;ie=UTF8&amp;t=m&amp;ll=16.855949,96.12314&amp;spn=0.007188,0.00912&amp;z=16&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com.sg/maps?f=d&amp;source=embed&amp;saddr=Okkyin,+Yangon,+Yangon+Region,+Burma&amp;daddr=7%2B1+D+Parami+Condo++%4016.856719,96.122292&amp;hl=en&amp;geocode=FVMwAQEdpLu6BSkhv8417pTBMDGUn01hFRb_KQ%3BFY82AQEdtLW6BQ&amp;aq=0&amp;oq=Okkyin+bus+stop,+Y&amp;sll=16.856035,96.123025&amp;sspn=0.002675,0.005284&amp;dirflg=w&amp;mra=ltm&amp;ie=UTF8&amp;t=m&amp;ll=16.855949,96.12314&amp;spn=0.007188,0.00912&amp;z=16" style="color:#0000FF;text-align:left">View Larger Map</a></small>


	   </div>
                </div>

</body>


