@{
    ViewBag.Title = "passwordRecoveryMessage";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<div class="body_first">

		<div class="body_con">

        		<div class="body_left">

                	<div><h3><font color="#811d1d">MyanmarCV.com</font> helps you to be the first to job market</h3></div>

                   
                    <div id="slideshow">
			<img src="../../images/photo1.jpg" alt="" />
			<img src="../../images/photo2.jpg" alt="" />
		</div>

                </div>

                <div class="body_right">

                	<div style="padding-top:35px"><h3 style="padding:0; margin:0">Forget Password?</h3></div>

                    <div style="padding:10px 0px 10px 0px"><img src="../../images/hr.jpg" /></div>
                  
                 <table width="350px" border="0" cellspacing="0" cellpadding="0" class="signup_table">
                   <tr>

                    <td height="35px" align="left" colspan ="3">@Html.Raw(ViewBag.ErrorMessage)</td>
                    </tr>
                  <tr>

                    <td height="35px" align="right" colspan="3">
                    
                    </td>
                    
                  </tr>
                  
       			
            <tr>
                <td colspan="2" style="color:Red; text-align:center;">
             
                </td>
            </tr>


                </table>
                
                </div>

        </div>

</div>

<div class="copyright">Copyright © 2012 MyanmarCV Pte Ltd. All rights reserved</div>
