@{
    ViewBag.Title = "submitSuccessful";
    Layout = "~/Views/Shared/_Main.cshtml";
}
<body id="brjob_link">
<br><br><br>
<div class="success_submit"><div style="padding-left:50px"><br>Your Request Was Successfully Submitted</div></div><br>
<div style="width:800px; margin:0 auto;  font-family:Arial, Helvetica, sans-serif;
font-size:12px; text-align:left; line-height:20px">Thank you for contacting MyanmarCV. A support associate will review your issue and follow up with you shortly. Please check your email's inbox for a case confirmation receipt from "<b>Myanmar CV</b>".</div>
<br><br><br>
</body>
